svg {
    border: 1px solid;
}

path{
    fill: lightsalmon;
    stroke: salmon;    
    stroke-width: 5px;
}

button{
    position: absolute;
    top: 50%;
    left: 50%;
}

.canvas {
    width:300px;
    height:300px;
    border: 1px solid black;
    touch-action: none;
}

.canvas_roi {
    position:relative;
    z-index:20;
}

.canvas_view {
    position:absolute;
    z-index:1;
}

.rectangle {
    border: 1px solid #FF0000;
    position: absolute;
}

.center {
    text-align: center;
}

.margin {
    margin: 10px;
}


