<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>

{% macro cameraComponent(name) -%}

<div id="{{name}}" class="card margin" style="width: 20rem; float:left">
    <h5 class="card-title center margin">Camera {{name}}</h5>

    <div class="card-block">
        <img id="view_{{name}}" class="canvas_view canvas margin"></img>
        <canvas id="roi_{{name}}" class="canvas_roi canvas margin"></canvas>
    </div>

    <div class="card-block">
        <a href="#{{name}}" class="btn btn-primary margin" id="refresh_{{name}}" name={{name}}
            onclick="shortcut_update_view(this.name);">Refresh</a>
        <a href="#{{name}}" class="btn btn-secondary" id="clear_{{name}}" name={{name}}
            onclick="clear_roi(this.name);">Clear</a>
    </div>

    <div class="card-block">
        <h6 class="margin" style="float:left">Station:</h6>
        <select id="station_{{name}}" name={{name}} class="form-select form-select-lg mb-3 margin"
            aria-label=".form-select-lg example" onchange="set_station(this.name)">
            {% for index in range(0,stationlist|length) %}
            <option id="{{stationlist[index]}}">{{stationlist[index]}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="card-block">
        <h6 class="margin" style="float:left">Focus Level:</h6>
        <select id="focus_{{name}}" name={{name}} class="form-select form-select-lg mb-3 margin"
            aria-label=".form-select-lg example" onchange="set_focus(this.name)">
            {% for index in range(0,focuslist|length) %}
            <option id="{{focuslist[index]}}">{{focuslist[index]}}</option>
            {% endfor %}
        </select>
    </div>

</div>

{%- endmacro %}

{% extends "layout.html" %}

{% block content %}
<div id='camera_container' class='container'>
    {% for camera in cameralist %}
    {{ cameraComponent(camera) }}
    {% endfor %}
</div>
{% endblock %}

{% block script %}
<script>
    // create empty list
    var refreshIntervalList = [];

    $("#camera_container > div").each(function (index) {
        var camera_id = $(this).attr("id");
        console.log(camera_id);
        shortcut_update_station(camera_id);
        shortcut_update_focus(camera_id);
        shortcut_update_view(camera_id);
        shortcut_update_roi(camera_id);
        roi_listener(camera_id);

        // updates view every 1 second
        var interval = setInterval(shortcut_update_view, 1000, camera_id);
        refreshIntervalList.push(interval);
    });
</script>
{% endblock %}

</html>